@media (min-width: 768px){
    .precios__tarjeta-2{
        margin-left: 4rem;
      }
      
      
      .precios__tarjeta-1 ul{
      text-align: start;
      }
      
      
      .precios__tarjeta-1{
       
          border: 2px solid #808080;
          height: auto;
          width: calc(30% - 10px);
          padding: 55px;
          display: inline-block;
          background-color: white;
      
          & ul{
            padding:3rem;
            line-height: 250%;
          }
         & li{
           width: 10rem;
           position: relative;
           bottom: 3rem;
           right: 2rem;
         }
       
      }
      .precios__tarjeta-2{
       
        border: 2px solid #808080;
        height: auto;
        width: calc(30% - 10px);
        padding: 55px;
        display: inline-block;
        background-color: white;
        & ul{
          padding:1rem;
          line-height: 200%;
        }
    }
}

@media (max-width: 767.98px){
    .precios__tarjeta-1{
        width: calc(85% - 25px);
        position: relative;
        left:2rem;
        bottom: 4rem;
        border: 2px solid #808080;
        background-color:white;
        display: inline-block;
        height: 20rem;
        & ul{
          padding:3rem;
          line-height: 170%;
          
        }
       & li{
         width: 10rem;
         position: relative;
         bottom: 3rem;
         left: 0.1rem;
       }
       
      }
      
      .precios__tarjeta-2{
        width: calc(85% - 25px);
        position: relative;
        left:2rem;
        bottom: 3rem;
        border: 2px solid #808080;
        background-color:white;
        display: inline-block;
       height: 25rem;
       margin-top:2rem;
       & ul{
        padding:3rem;
        line-height: 160%;
        
      }
      }

      .precios__tarjeta-1 h3,h2 {
        margin-left: 2rem;
        
      }
      .precios__tarjeta-2 h3,h2 {
        margin-left: 2rem;
        
      
      }
}