//Colores
//First Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;


//Second color Scheme
$dark-salmon: #ee9480;
$melon: #f4baae;
$pale-pink:#fadfda;

//Third color Scheme
$ball-blue: #2ab7ca;
$middle-blue: #77d1dd;
$blue-lagoon: #b1e4eb;

//four color Scheme
$onyx: #333745;
$spanish-gray: #8f9199;
$lavender-gray: #c7c8cc;
$color-price:#343444;

//five color Scheme
$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

//Font Family
$open-sans : 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;


//Font weight
$regular: 400;
$bold: 700;


//Font size
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px; 

//Colores
//First Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;
$celeste: #71cff5;

//Second color Scheme
$carmine-pink: #E94F37;
$salmon: #945248;